# Cheetah specific init.rc
import /vendor/etc/init/hw/init.gs201.rc
import /vendor/etc/init/hw/init.pantah.rc

on late-init && property:vendor.device.modules.ready=1
    # Start the twoshay touch service
    start twoshay

on property:ro.boot.cdt_hwid=0x00030303000100010001000000000000
    setprop persist.vendor.nfc.config_file_name libnfc-hal-st-proto1.conf

on property:ro.boot.cdt_hwid=0x00030303000100000000000000000000
    setprop persist.vendor.nfc.config_file_name libnfc-hal-st-proto1.conf

on property:ro.boot.cdt_hwid=0x00030303000100000100000000000000
    setprop persist.vendor.nfc.config_file_name libnfc-hal-st-proto1.conf

on property:ro.boot.cdt_hwid=0x00030303000100000200000000000000
    setprop persist.vendor.nfc.config_file_name libnfc-hal-st-proto1.conf

# Kirisakura
write /proc/sys/net/ipv4/tcp_wmem "262144 524288 8388608"
write /sys/kernel/mm/lru_gen/enabled y
write /sys/kernel/mm/lru_gen/min_ttl_ms 5000
write /proc/sys/vm/percpu_pagelist_high_fraction 96

write /dev/blkio/background/blkio.ssg.max_available_ratio 25

write /sys/devices/system/cpu/cpufreq/policy0/sched_pixel/lcpi_threshold 2
write /sys/devices/system/cpu/cpufreq/policy0/sched_pixel/spc_threshold 44
write /sys/devices/system/cpu/cpufreq/policy0/sched_pixel/limit_frequency 1197000

write /sys/devices/system/cpu/cpufreq/policy4/sched_pixel/lcpi_threshold 4
write /sys/devices/system/cpu/cpufreq/policy4/sched_pixel/spc_threshold 25
write /sys/devices/system/cpu/cpufreq/policy4/sched_pixel/limit_frequency 1328000

write /sys/devices/system/cpu/cpufreq/policy6/sched_pixel/lcpi_threshold 4
write /sys/devices/system/cpu/cpufreq/policy6/sched_pixel/spc_threshold 20
write /sys/devices/system/cpu/cpufreq/policy6/sched_pixel/limit_frequency 1426000

write /proc/vendor_sched/pmu_poll_time 10
write /sys/devices/system/cpu/cpufreq/policy0/sched_pixel/pmu_limit_enable 1
write /sys/devices/system/cpu/cpufreq/policy4/sched_pixel/pmu_limit_enable 1
write /sys/devices/system/cpu/cpufreq/policy6/sched_pixel/pmu_limit_enable 1

# Display
on property:graphics.display.kernel_idle_timer.enabled=true
    # Enable aggressive idle mode switching
    write /sys/devices/platform/exynos-drm/primary-panel/panel_idle "1"

on property:graphics.display.kernel_idle_timer.enabled=false
    write /sys/devices/platform/exynos-drm/primary-panel/panel_idle "0"

# Toggle high_sensitivity according to touch_sensitivity_mode
on property:persist.vendor.touch_sensitivity_mode=0 && property:sys.boot_completed=1
    write /sys/class/spi_master/spi0/spi0.0/synaptics_tcm.0/sysfs/high_sensitivity 0

on property:persist.vendor.touch_sensitivity_mode=1 && property:sys.boot_completed=1
    write /sys/class/spi_master/spi0/spi0.0/synaptics_tcm.0/sysfs/high_sensitivity 1

# Persist
on post-fs-data
    chmod 770 /mnt/vendor/persist/uwb

# For Japan sku, always enforce camera shutter sound
# Since this property is read by the audio server in system service,
# it should be written by the system init.
on property:ro.boot.hardware.sku=GFE4J
    setprop audio.camerasound.force true
